<ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <!--<img src="./img/sf-logo.png">-->
            <i class="fas fa-poo mr-3"></i>
        </div>
        <div class="sidebar-brand-text">L.D.C</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a id="dashboard" class="nav-link" href="#" data-url="dashboard.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>仪表盘</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a id="cacheTool" class="nav-link" href="#" data-url="json_parser">
            <i class="fas fa-fw fa-horse"></i>
            <span>Json解析器</span></a>
    </li>

</ul>